.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.swo
*.swp
.env
.env.backup
.env.production

node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

backend/vendor/
backend/node_modules/
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/.env
backend/.env.example
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/homestead.json
backend/homestead.yaml
backend/auth.json
backend/storage/debugbar/
backend/storage/logs/*
!backend/storage/logs/.gitignore
backend/storage/framework/cache/*
!backend/storage/framework/cache/.gitignore
backend/storage/framework/sessions/*
!backend/storage/framework/sessions/.gitignore
backend/storage/framework/testing/*
!backend/storage/framework/testing/.gitignore
backend/storage/framework/views/*
!backend/storage/framework/views/.gitignore
backend/storage/app/public
!backend/storage/app/public/.gitignore

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts